<header class="flex px-4 flex-1 h-15">
  <span class="terminal-text-green text-xl my-auto">DevOps</span>
  <nav class="flex items-center ml-4 my-4 gap-4">
    <a
      class="px-3 striped-button hover:underline"
      appRipple
      routerLink="/dashboard"
      routerLinkActive="active"
      >Dashboard</a
    >
    <a
      class="px-3 striped-button hover:underline"
      appRipple
      routerLink="/products"
      routerLinkActive="active"
      >Products</a
    >
    <a
      class="px-3 striped-button hover:underline"
      appRipple
      routerLink="/servers"
      routerLinkActive="active"
      >Servers</a
    >
    <a
      class="px-3 striped-button hover:underline"
      appRipple
      routerLink="/tickets"
      routerLinkActive="active"
      >Tickets</a
    >
    <a
      class="px-3 striped-button hover:underline"
      appRipple
      routerLink="/logs"
      routerLinkActive="active"
      >Logs</a
    >
  </nav>
  <button appRipple class="ml-auto my-auto rounded-full w-10 h-10 striped-button">NR</button>
</header>
